:root{
  --main-color: #1c1c1c;
}
body{
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

ul{
  list-style: none;
}

.navbar-toggler{
  border: none;
}

h1,
.navbar-brand,
h2,
h6,h4,h5{
  font-family: "Montserrat", sans-serif;
  font-weight:700 ;
}
.nav-link ,
  .nav-link.active{
  color: #fff !important;
  font-size: 14px;
}

.home{
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../css/img/bg.jpg") ;
  background-size: cover;
  height: 100vh;
}
.home-section .container{
  width: 100%;
}

.home .home-p{
  font-size: 43px;
}

.icon a{
  color: #fff;

  text-decoration: none;
}
.icon li  i{
  background-color: rgba(0, 0, 0, 0.3);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
}



.about .main-p{
  color: #999;
}
.about .img::after{
  content: "";
  position: absolute;
  left: 0;
  width: 85%;
  height: 80%;
  background-image: url("../css/img/dots.png");
  background-repeat: repeat;
  bottom: -40px;
  z-index: -111;
}

p{
  color: #748182;
  font-size: 15px;
  line-height: 1.6;
}
.progress{
  height: 1.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
  margin: 10px 0px;
}
.progress-bar{
  background-color: var(--main-color);
  text-align: left;
  font-size: 14px;
}


.btn1{
  background-color: var(--main-color);
  color: #eee;
  font-size: 14px
}
.btn1:hover{
  border: 1px solid var(--main-color);
  transition: 0.5s all;
}
.btn2{
  border: 1px solid var(--main-color);
  font-size: 14px
}
.btn2:hover{
  background-color: var(--main-color);
  color: #eee;
  transition: 0.5s all;
}

.service,
.clients{
  background-color: #f7f7f7;
}

h2::after{
content: "";
position: absolute;
width: 100%;
left: 0px;
height: 30px;
bottom: -8px;
z-index: -1;
background-image: url("../css/img/dots.png");
background-repeat: repeat;
}

h2{
  color: var(--main-color);
  z-index: 3;
  font-weight: 800;
  font-size: 40px;
}
h6{
  font-size: 18px;
  font-weight: 800;
}

.card{
  border: none;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}

.service .icon i{
  background-color: #f4f4f4;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0px 5px;
  font-size: 25px;
  transition: all 0.5s;
  cursor: pointer;
}
.service .card:hover i{
  background-color: #1c1c1c;
  color: #fff;
}
.service p{
  font-size: 14px;
}

.nav-tabs,.nav-tabs .nav-link.active, .nav-tabs .nav-link{
  border-bottom: none;
  border: none;
}

.portfolio .nav-link,  .portfolio .nav-link.active{
color: #222 !important;
font-weight: 700;
}
.portfolio .nav-tabs .nav-link.active{
  position: relative;
}

.portfolio .nav-link.active::before{
content: "";
position: absolute;
width: 35%;
height: 3px;
background-color: #222;
top: 35px;
}
.portfolio .overly{
  background-color: rgba(255, 255, 255, 0.95);
  inset: 5px;
  opacity: 0;
}
.portfolio .overly h6{
font-size: 12px;
letter-spacing:2px;
font-weight: 700;
}
.portfolio .icon i{
  background-color: var(--main-color);
  color: #fff;
  font-size: 12px;
  width: 30px;
  height: 30px;
  margin-top: 3px;
}
.portfolio .child:hover .overly{
  opacity: 1;
  transition: all 0.8s;
  cursor: pointer;
}


.clients .content .main-span{
  color: #888;
  font-weight: 700;
  font-size: 12px;
}
.carousel-item img{
width: 90px;
border-radius: 50%;

}
.carousel-indicators [data-bs-target]{
  background-color: #869791;
}
.carousel-indicators{
  bottom: -65px; 
  margin-bottom: 25px;
}
.carousel-indicators button{
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
}
.number .count{
  font-weight: 900;
}
.number i{
  font-size: 25px;
}

.team{
  background-color: #eee;
}

.team .card{
  background-color: rgba(52, 52, 52,.8);
}

.team .img:hover img{
  transform: scale(1.2);
  transition: all 0.5s;
}

.team .overlay{
  background-color: rgba(255, 255, 255, 0.95);
  inset: 5px;
  opacity: 0;
}
.team i{
  background-color: var(--main-color) !important;
  color: #fff;
}
.team i:hover{
  background-color: #fff !important;
  border: 1px solid var(--main-color);
  color: var(--main-color) ;
}

.team .card:hover .overlay{
cursor: pointer;
  opacity: 1;
  transform: rotateY(360deg) scale(1, 1);
  transition: all 0.5s;
}

.contact ul li{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f4f4f4;
  color: var(--main-color);
  font-size: 25px;
}

.contact ul li:hover{
  background-color: var(--main-color);
  color: #eee;
  transition: all 0.5s;
}

.form-control::placeholder{
  color: #748182;

}

.form-control{
  background-color: #f4f4f4;
  border: none;

}
.form-control:focus{
  border-color: transparent;
  box-shadow: none;
  background-color: #f4f4f4;
}

.contact button{
  color: #eee;
  background-color: #1c1c1c;
padding: 10px 35px;
font-size: 14px;
}

.contact button:hover{
  border-color: var(--main-color);
  transition: all 0.5s;
}

.footer{
  background-color: #1c1c1c;
  padding: 30px;
}
.footer p{
  font-size: 13px;
    word-spacing: 2px 
}

@media (max-width:190px){
  h2.test-h{
      font-size: 18px !important;
    }

    .team .overlay{
    flex-direction: column !important;
    }
    .contact .sm{
      font-size: 11px;
    }
    .contact button{
      padding: 10px 20px;
    }
  }
  
  
  @media (max-width:310px){
    .icon ul{
      flex-direction: column !important;
      margin: 0px ;
    }
    .icon li i{
      width: 20px;
      height: 20px;
    }
    .home .home-p{
  font-size: 25px;
    }
    .butto{
      flex-direction: column;
    }
    .btn1{
      margin-bottom: 10px;
    }
    h2{
      font-size: 20px;
    }
  }
  
  @media (min-width:770px) and (max-width:992px){
    .team ul{
      padding: 0px;
    }
  }